{
  "root": true,
  "env": {
    "node": true
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "plugin:vue/essential",
    "eslint:recommended",
    "@vue/typescript"
  ],
  "rules": {},
  "parserOptions": {
    "parser": "@typescript-eslint/parser"
  }
}
